.git
.github
.terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.DS_Store
__pycache__
*.pyc
.venv
venv
env
Пояснювальна_записка.docx
Docker Security Vulnerabilities and Best Practices.pdf
OWASP-Top-10-Serverless-Interpretation-en.pdf
